<div class="container-fluid px-0 py-3">
    <app-navbar></app-navbar>
    <div class="row">
        <div class="col-md-3 px-3">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-9">
            <form style="width: 800px;" class="mx-auto mt-2 mb-2 p-2 border border-primary border-1 rounded-5">
                <!-- <img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
                <h1 class="text-center text-primary" style="font-size: 35px;"><b>User Profile</b></h1>
                <div class="row "></div>

                <div class="row">
                    <div class="col-md-4">
                        <!--Image-->
                        <div>
                            <div class="d-flex justify-content-center mb-4">
                                <img src="https://avatars.githubusercontent.com/u/70508203?v=4"
                                    class="rounded-circle" alt="example placeholder" style="width: 200px;" />
                            </div>
                            <div class="d-flex justify-content-center">
                                <div class="btn btn-primary btn-rounded">
                                    <label class="form-label text-white m-1" for="customFile2">Choose file</label>
                                    <input type="file" class="form-control d-none" id="customFile2" />
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-8">
                        <form>
                            <!-- 2 column grid layout with text inputs for the first and last names -->
                            <div class="row mb-4">
                                <div class="col">
                                    <div class="form-outline">
                                        <input type="text" id="form6Example1" class="form-control" />
                                        <label class="form-label" for="form6Example1">First name</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-outline">
                                        <input type="text" id="form6Example2" class="form-control" />
                                        <label class="form-label" for="form6Example2">Last name</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="text" id="form6Example3" class="form-control" />
                                <label class="form-label" for="form6Example3">Phone number</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="text" id="form6Example4" class="form-control" />
                                <label class="form-label" for="form6Example4">Address</label>
                            </div>
                            <div class="form-outline mb-4">
                                <input type="email" id="form6Example5" class="form-control" />
                                <label class="form-label" for="form6Example5">Email</label>
                            </div>
                            <div class="row mb-4">
                                <div class="col">
                                    <div class="form-outline">
                                        <input type="text" id="form6Example1" class="form-control" />
                                        <label class="form-label" for="form6Example1">State</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-outline">
                                        <input type="text" id="form6Example2" class="form-control" />
                                        <label class="form-label" for="form6Example2">Country</label>
                                    </div>
                                </div>
                            </div>

                        </form>

                    </div>
                    <button type="submit" class="btn btn-primary mt-4 mx-auto" style="width: 200px;">Save
                        Profile
                    </button>

                </div>

            </form>
            
        </div>
    </div>
    <div class="">
        <app-footer></app-footer>
    </div>
</div>